.navWrapper {
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.navContainer {
  position: relative;
  display: flex;
}

.itemsContainer {
  position: relative;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.collapsedFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.expandedFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navButton {
  position: relative;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  background: transparent;
  border: none;
  padding: 6px 10px;
  outline: none;
  white-space: nowrap;
  font-family: var(--font-heading);
}
